name: man_module
description: "A module to manage all other features that is not related to sales"
publish_to: none
resolution: workspace

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
#  TODO: Upload to infra
  flutter_base_libraries:
    path: ../flutter_base_libraries
  flutter_core:
    path: ../flutter_core
  ui_design_system:
    path: ../ui_design_system
  freezed_annotation: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.10.4
  injectable_generator: ^2.9.1
  retrofit_generator: ^10.2.0
  json_serializable: ^6.11.2
  freezed: ^3.2.3

flutter:
  uses-material-design: true
  generate: true

  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package

  module:
    androidX: true
    androidPackage: com.example.man_module
    iosBundleIdentifier: com.example.manModule
